
<h3>Orbit Report </h3>

<table>
    <tr class="header-row">
       <th (click) = "sort('name')" class="sortable">Name</th>
       <th (click) = "sort('type')"class="sortable">Type</th>
       <th>Operational</th>
       <th>Orbit Type</th>
       <th>Launch Date</th>
       
    </tr>
    <tr *ngFor="let singleSatellite of satellites" [class.warning] = "singleSatellite.shouldShowWarning()">
        <td>{{singleSatellite.name}}</td>
        <td>{{singleSatellite.type}}</td>
        <td>{{singleSatellite.operational}}</td>
        <td>{{singleSatellite.orbitType}}</td>
        <td>{{singleSatellite.launchDate}}</td> 
    
    </tr> 
 </table>



